#ulPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.spinner {
  position: fixed;
  top: 21vh;
  right: 5vh;
  z-index: 100;
}
.spinner>img{
  width: 100px;
}
